node_modules
.hbuilderx
.DS_Store
.vscode
.idea
*.log
.env
dist
coverage
.nuxt
.cache
.temp
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
uniCloud-alipay/cloudfunctions/**/node_modules
uniCloud-alipay/cloudfunctions/**/.env
*.local